<!--this is the template for activities in research week -->

{% assign images = "/static/img/local-img/research-week-colors-square-1.png,/static/img/local-img/research-week-colors-square-2.png,/static/img/local-img/research-week-colors-square-3.png,/static/img/local-img/research-week-colors-square-4.png" | split: "," %}

<div class="events-grid">
    {% for event in events %}
    <div class="event">
        {% if event.data.thumbnail %}
        <a href="{{ event.url }}">
            <img src="{{ event.data.thumbnail }}/medium" alt="{{ event.data.title }}">
            {% else if %} 
                {% assign index = forloop.index0 | modulo: images.size %}
                <img src="{{ images[index] }}" alt="Thumbnail for {{ title }}" class="activity-thumb">
        </a>
    {% endif %}
        <h2 class="event-title">
            <a href="{{ event.url }}">{{ event.data.title }}</a>
        </h2>
        {% if event.data.description %}
            <p class="event-description">{{ event.data.description | markdownify | strip_html | truncate: 150 }}</p>
        {% elsif event.data.body %}
            <p class="event-description">{{ event.data.body | markdownify | strip_html | truncate: 150 }}</p>
        {% endif %}
        <div class="event-details">
            {% if event.data.type %}
                <span class="event-type">{{ event.data.type }}</span> |
            {% endif %}
            {% if event.data.startDate %}
                <span class="event-date">{{ event.data.startDate | formatDateTime }}</span> |
            {% endif %}
            {% if event.data.location %}
                <span class="event-location">{{ event.data.location }}</span>
            {% endif %}
        </div>
        {% if event.data.link %}
            <a href="{{ event.data.link }}" class="event-link">More info</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
