<div class="events-grid">
    {% for event in events %}
    <div class="event">
        <a href="{{ event.url }}"><img src="{{ event.data.main_image }}" alt=""></a>
        <h2 class="event-title">
            <a href="{{ event.url }}">{{ event.data.title }}</a>
        </h2>
        <h3 class="event-byline">{{ event.data.byline }}</h3>
        <div class="event-details">
            <span class="event-type">{{ event.data.type }}</span> |
            <span class="event-author">{{ event.data.author}}</span> |
            <span class="event-date"> {{ event.data.date | formatDate }}{% if event.data.time %} | {{ event.data.time }}{% endif %}</span> |
            <span class="event-date">{{ event.data.location }}</span>
        </div>
    </div>
    {% endfor %}
</div>