<h1 class="page-title">Activities</h1>

<div class="activities-calendar">
  {% for group in collections.calendar_events %}
    <h2>{{ group.month | append: '-01' | monthYear }}</h2>

    <ul>
      {% for event in group.events %}
        {% if event.data.type == "overview-research-week" %}
          <li class="event-overview">
            <a href="{{ event.data.link }}" class="event-card overview-link">
             {% if event.data.thumbnail %}
                <img src="{{ event.data.thumbnail | append: '/-/format/jpeg/'}}" alt="{{ event.data.title }}" class="event-thumb">
                {% else %}
                <img src="/static/img/research-week-colors-square-1.png" alt="Fallback image" class="event-thumb">
              {% endif %}
              <div class="event-info">
                <h3>{{ event.data.title }}</h3>
                <p class="event-time">
                  {{ event.data.startDate | formatDateTime }}
                </p>
              </div>
            </a>
          </li>
        {% else %}
          <li>
            <a href="{{ event.url }}" class="event-card">
              {% if event.data.thumbnail %}
                <img src="{{ event.data.thumbnail }}" alt="{{ event.data.title }}" class="event-thumb">
              {% endif %}
              <div class="event-info">
                <h3>{{ event.data.title }}</h3>
                <p class="event-time">
                  {{ event.data.startDate | formatDateTime }}
                </p>
              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
