---
layout: base
---
<div class="event-meta">
    <h2 class="event-title">{{ title }}</h2>
    <div class="event-details">
        <span class="event-byline">{{ byline }}</span> |
        <span class="event-author">{{ author}}</span> |
        <span class="event-date">{{ date | date }}</span>
    </div>
</div>
<div class="event-layout">
    <div class="event-image">
        <img src="{{ main_image }}-/preview/2000x2000/" alt="{{ title }}">
    </div>
    <div class="event-text">
        {{ content }}
    </div>
</div>
<div class="event-images">
{%- for image in images -%}
    <img class="image" src="{{ image }}-/preview/2000x2000/" alt="" />
{%- endfor -%}
</div>
