---
layout: base
---
<article class="publication-detail">

  <h1 class="publication-title">{{ title }}</h1>

  {% if people or external_collaborators %}
  <p class="people-link"><strong>Contributor(s):</strong>
  {% if people %}
    {% for person_name in people %}
      {% assign person = collections.people | where: "data.person_name", person_name | first %}
      {% if person %}
        <a href="{{ person.url }}">{{ person_name }}</a>
      {% else %}
        {{ person_name }},
      {% endif %}
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% endif %}
  {% if external_collaborators %}
    {% for collaborator in external_collaborators %}
      {% if collaborator.url %}
        , <a href="{{ collaborator.url | prepend: 'https://' | replace_first: 'https://https://', 'https://' }}" target="_blank" rel="noopener noreferrer">
          {{ collaborator.name }}
        </a>
      {% else %}
        , {{ collaborator.name }}
      {% endif %}
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% endif %}
  </p>
  {% endif %}

  {% if thumbnail %}
    <img src="{{ thumbnail }}" alt="{{ title }} thumbnail" class="publication-thumbnail">
  {% endif %}
  <p class="publication-date">Published: {{ ground_date | monthYear }}</p>

  {% if description %}
    <div class="publication-description">
      {{ description | markdownify }}
    </div>
  {% elsif content %}
  <div class="publication-description">
    {{ content }}
  </div>
{% endif %}


  {% if TOC %}
<div class="toc">
  <h3 class="toc-label">CONTENTS:</h3>
  {% for entry in TOC %}
  <p>{{ entry.title }} by {{ entry.contributors }}</p>
  {% endfor %}
</div>
{% endif %}



  {% if ground_url %}
    {% for link in ground_url %}
    <a href="{{ link.url }}" class="button publication-download-button" target="_blank" rel="noopener noreferrer">
      {{ link.name}}
    </a>
    {% endfor%}
  {% endif %}


</article>
