---
layout: base
---
<link rel="stylesheet" href="/static/css/people.css">

<div class="people-container">
  <h1 class="page-title">People</h1>

  <p>Here you find an overview of the people involved in the research in Sint Lucas, with different roles […]</p>

  <div class="filter-box" id="role-filters">
  <h3>filter by </h3>
    {% assign roles = "" %}
    {% for person in collections.people %}
      {% for role in person.data.role %}
        {% unless roles contains role %}
          {% assign roles = roles | append: role | append: ',' %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
  
    {% assign uniqueRoles = roles | split: ',' | uniq %}
  
    {% for role in uniqueRoles %}
      <button onclick="filterByRole('{{ role }}')">{{ role }}</button>
    {% endfor %}
  </div>

  <div class="people-grid">
    {% for person in collections.people %}
      <a href="{{ person.url }}" class="person-card" data-roles="{{ person.data.role | join: ',' }}">
        <div class="person-image">
          {% if person.data.headshot %}
            <img
              src="{{ person.data.headshot }}-/scale_crop/600x800/smart/"
              alt="{{ person.data.person_name }}"
              width="600"
              height="800">
          {% else %}
            <div class="placeholder-image"></div>
          {% endif %}
        </div>
        <div class="person-overlay">
          <h2 class="person-name">{{ person.data.person_name }}</h2>
          {% if person.data.role %}
            <p class="person-role">{{ person.data.role | join: ", " }}</p>
          {% endif %}
          {% if person.data.research_interests %}
            <div class="person-interests">
              {% for interest in person.data.research_interests limit: 3 %}
                <span class="interest-tag">{{ interest }}</span>
              {% endfor %}
              {% if person.data.research_interests.size > 3 %}
                <span class="more-interests">+{{ person.data.research_interests.size | minus: 3 }}</span>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </a>
    {% endfor %}
  </div>
</div>

<script>
  function filterByRole(role) {
  const people = document.querySelectorAll('.person-card');
  const buttons = document.querySelectorAll('#role-filters button');

  // Remove the 'active' class from all buttons
  buttons.forEach(button => {
    button.classList.remove('active');
  });

  // Add the 'active' class to the clicked button
  const activeButton = Array.from(buttons).find(button => button.textContent === role);
  if (activeButton) {
    activeButton.classList.add('active');
  }

  people.forEach(person => {
    const roles = person.getAttribute('data-roles').split(',');
    if (roles.includes(role)) {
      person.style.opacity = '1';        
      person.style.display = 'block';  
    } else {
      person.style.opacity = '0';       
      person.style.display = 'none'; 
    }
  });
}
</script>
