---
layout: base.liquid
---

<article class="project">
  <h2 class="big-title">RESEARCH PROJECT</h2>
  <h1>{{ title }}</h1>

  <div class="project-date">

  <span class="date">
    {% if start_date %}
      {{ start_date | monthYear }}
    {% endif %}
  
    {% assign today_ts = "now" | date: "%s" %}
    
    {% if end_date %}
      {% assign end_ts = end_date | date: "%s" %}
      {% if end_ts > today_ts or ongoing %}
        &ndash; <span class="status">ongoing</span>
      {% else %}
        &ndash; {{ end_date | monthYear }}
      {% endif %}
    {% elsif ongoing %}
      &ndash; <span class="status">ongoing</span>
    {% endif %}
  </span>
  
  

  

  
  
  
  
  

  <ul class="info-project">

  {% if project-kind %}
  <li><strong>Project kind:</strong> {{ project-kind }}</li>
  {% endif %} 

    
    {% if people or external_collaborators %}
     <li class="people-link"><strong>Researcher(s):</strong> 
    {% if people %}
    {% for person_name in people %}
      {% assign person = collections.people | where: "data.person_name", person_name | first %}
      {% if person %}
        <a href="{{ person.url }}">{{ person_name }}</a>
      {% else %}
        {{ person_name }},
      {% endif %}
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% endif %}

  
    
    {% if external_collaborators %}
  
    {% for collaborator in external_collaborators %}
      {% if collaborator.url %}
       , <a href="{{ collaborator.url | prepend: 'https://' | replace_first: 'https://https://', 'https://' }}" target="_blank" rel="noopener noreferrer">
          {{ collaborator.name }}
        </a>
      {% else %}
        , {{ collaborator.name }}
      {% endif %}
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </li>
{% endif %}

  </li>
{% endif %}






   {% if supervisors or external_supervisors %}
     <li class="people-link"><strong>Supervisor(s):</strong> 
    {% if supervisors %}
    {% for person_name in supervisors %}
      {% assign person = collections.people | where: "data.person_name", person_name | first %}
      {% if person %}
        <a href="{{ person.url }}">{{ person_name }}</a>
      {% else %}
        {{ person_name }},
      {% endif %}
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% endif %}

  
    
    {% if external_supervisors %}
  
    {% for collaborator in external_supervisors %}
      {% if collaborator.url %}
       , <a href="{{ collaborator.url | prepend: 'https://' | replace_first: 'https://https://', 'https://' }}" target="_blank" rel="noopener noreferrer">
          {{ collaborator.name }}
        </a>
      {% else %}
        , {{ collaborator.name }}
      {% endif %}
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </li>
{% endif %}

  </li>
{% endif %}


  {% if main_image %}
  <figure>
    <img src="{{ main_image | url }}/-/format/auto/" width="" height="" alt="{{ main_image_alt }}" />
    <figcaption class="image-block__credits">{{ main_image_credits }}</figcaption>
  </figure>
{% endif %}


  {% if project_stage %}
  <li><strong>Stage:</strong> {{ project_stage }}</li>
{% endif %}
  </ul>

  <div class="content">
    {{ content | raw }}
  </div>


  {% if gallery %}
  <div class="gallery">
    {% for image in gallery %}
      <div class="image-block">
        <img src="{{ image.src | url }}/-/format/auto/" alt="{{ image.alt}}" />
        <figcaption class="image-block__credits">{{ image.caption }}</figcaption>
      </div>
    {% endfor %}
  </div>
{% endif %}





{% if funding %}
<div class="funding">
  <h3>Funding</h3>
  <ul>
    {% for f in funding %}
      <li>
        {% if f.link %}
          <a href="{{ f.link }}" target="_blank" rel="noopener">
            {% if f.image %}
              <img src="{{ f.image | url }}" alt="Funding image for {{ f.name }}" style="max-height: 60px; margin-top: 0.5em;" />
          
            {% endif %}
            {{ f.name }}
          </a>
        {% else %}
          {% if f.image %}
            <img src="{{ f.image | url }}" alt="Funding image for {{ f.name }}" style="max-height: 60px; margin-top: 0.5em;" />
           
          {% endif %}
          {{ f.name }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}


</article>
