---
layout: base
---
    <h2 class="big-title">{{ supervisor_name }}</h2>
    <div class="supervisor-page">
        <div class="supervisor-image">
            <img src="{{ image_supervisor }}-/scale_crop/600x600/smart/" width="" height="" alt="{{ name }}">
        </div>
        <div class="supervisor-text">
            <p>
            {{ bio }}
            </p>
            <p>Contact:<br>
            {{ email }}
            </p>
            <p>
            Links<br>
            {% for link in social_links %}
                <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.name }}</a>
            {% endfor %}
            </p>
        </div>
    </div>
